@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

body {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html,
body,
.target {
	margin: 0;
	height: 100%;
}

.target {
	box-sizing: border-box;
	padding: 10px;
}

.gui {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.playground {
	display: flex;
	flex-direction: column;
	height: 100%;

	.visualizer {
		position: relative;
		flex: 1;
		display: flex;
		flex-direction: row;

		.view {
			flex: 1;
			overflow: auto;
			border: 1px black solid;
			height: 100%;
		}

		.details {
			flex: 1;
			margin-left: 10px;
		}
	}
}

.historyVisualizer {
	height: 100%;
	margin-right: auto;

	svg {
		width: 100%;
		box-sizing: border-box;
		display: block;

		circle.event,
		text.event {
			transition: 0.4s cy;
		}
		.groupBorder {
			stroke: gray;
		}

		.selectedGroup {
			.groupBorder {
				stroke: blue;
				stroke-width: 2;
			}
		}

		.title {
			stroke: blue;
		}

		.event-temporary {
			fill: gray;
		}

		&.draggingEvent {
			circle,
			text {
				transition: none;
			}
		}

		.end {
			.dragHandle {
				stroke: transparent;
				fill: transparent;
			}
			line {
				stroke-width: 2px;
			}
		}
		.end.mutable:hover,
		.end.selected {
			line {
				stroke-width: 4px;
			}
		}
	}

	circle.large,
	circle.event.mutable:hover {
		stroke-width: 5;
	}
}

.groupBackground {
	fill: lighten(gray, 44%);
	stroke: none;
}

.detailsPane {
	flex: 1;
	height: 100%;

	display: flex;
	flex-direction: column;

	.config {
		flex: 1;
	}
}

.configComponent {
	height: 100%;
}

.editor {
	height: 100%;
}
